* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Lato/Lato-regular.otf') format('opentype');
}