.none {
    display: none;
}

.background {
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    animation: show 1s;

    & video {
        width: 1200px;
        z-index: 4;
        animation: scale 1s;
    }
}

@keyframes show {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes scale {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}